*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
}

/*header*/

.header{
    width: 100%;
    background: #BBABAB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.spans{
    color: #ffffff;
    display: flex;
    flex-direction: inherit;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}
.spans a span{
    color: #ffffff;}
span{
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
div p b{
    font-size: 200%;
}
div p{
    padding: 1%;
    width: 30%;
    display: flex;
    flex-direction: inherit;
    justify-content:space-between;
    align-items:center;
    text-align:center;
}
/*body*/
.inf_body{
    width:100%;
}
.n1{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.n1 div{
    background: #BBABAB;
    width:40%;
}
.n1 div p{
    width:98%;
    margin-top:10px;
    margin-bottom:10px;
    background: #E5E5E5;
}
.n1 div:last-child{
    float: left;
}
.n1 div:first-child{
    float: left;
}
.n1 div p a img{
    width:45%;
}
.n2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.n2 div{

    background: #BBABAB;
    width:40%;
}
.n2 div p{
    width:98%;
    margin-top:10px;
    margin-bottom:10px;
    background: #E5E5E5;
}
.n2 div:last-child{
    float: left;
}
.n2 div:first-child{
    float: left;
}
.n2 div p a img{
    width:45%;
}

/*footer*/

.footer{
    width: 100%;
}
div.footer{
    display: flex;
    flex-direction: column;
}
.s1{
    display: flex;
    flex-direction: row;
}
.s1 a img{
    width: 15%;
}
/*navigation*/
.navigation{
    display: flex;
    flex-direction: unset;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EBE8E8;
}
.a12{
    text-decoration:underline;
}
/*forma*/
form{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    width: 30%;
    background-color: #BBABAB;
    margin-left: 35%;
    border-radius: 15px;
}

form input{
    height: 10%;
    width: 70%;
    color: #ababab;
    border-radius: 15px;
}
form div a{
    padding: 20px;
}

/*Zvorotniy zvyazok*/

div.zvor_body div {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}
input[type=submit]{
    height: 30px;
    width: 70px;
    float: right;
    background-color: #BBABAB;
}

/*Перегляд телепрограм*/
.program_body{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}
.t1{
    margin: 10px;
    height: 400px;
    width: 800px;
    background-color: #BBABAB;
}
td{
    text-decoration:underline;
}
th{
    color:#FFFFFF;
}
.t2_1{margin: 10px;
    height: 200px;
    width: 400px;
    background-color: #BBABAB;
    float: left;
}
.t2_2{
    margin: 10px;
    height: 200px;
    width: 400px;
    background-color: #BBABAB;
    float: left;
}