.logo{
    height:30px;
    width:30px;
}

footer{
    background-color: #f9f9f9;
    display: flex;
    flex-direction:column;
    text-align:center;
}

footer div.block-logo {
    display: flex;
    justify-content: space-evenly;
}